<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grid Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <style>
    .boxy{
        background: #b3ddff;
        border: 4px solid black;
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 boxy">Item large one</div>
            <div class="col-lg-4 boxy">Item large two</div>
            <div class="col-md-4 boxy">Item large three</div>
            <div class="col-lg-4 boxy">Item large four</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 boxy">Item middle one</div>
            <div class="col-lg-6 boxy">Item middle two</div>
            <div class="col-xs-6 boxy">Item middle three</div>
            <div class="col-xs-6 boxy">Item middle four</div>
        </div>
    </div>

</html>