<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> NavbarPage </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Bootstrap</a>
            </div>
            <ul class ="nav navbar-nav">
                <li><a href="#"> Home</a></li>
                <li><a href="#">Link </a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome To Navbar page</h1>
                <p>Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for our collapse plugin.</p>
                <h2> How Bootstrap works? </h2>
                <ul>
                    <li>Navbars require a wrapping .navbar with .navbar-expand{-sm|-md|-lg|-xl} for responsive collapsing and color scheme classes.</li>
                    <li>Navbars and their contents are fluid by default. Use optional containers to limit their horizontal width.</li>
                    <li>Ensure accessibility by using a <nav> element or, if using a more generic element such as a <div>, add a role="navigation" to every navbar to explicitly identify it as a landmark region for users of assistive technologies.</li>

                </ul>
            </div>
        </div>
    </body>
</html>