<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> CoffeePage </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="project.html">Landing Page</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class ="jumbotron">
                <h1> Login </h1>
                <p> Enter Your Email And Password! </p>
            </div>
        </div>
        <div class="container">
            <form class="form-group">
                <label for="em">Email</label>
                <input id="em" class="form-control" type="email" placeholder="user@gmail.com">
                <label for="p">Password</label>
                <input id="p" class="form-control" name="" type="password" placeholder="Password">

                <div class="checkbox">
                    <label for="usercheck">
                    <input id="usercheck" type="checkbox" name="usercheck" value="">
                    Keep Me Logged in! </label>
                </div>
                <button type="submit" class="btn btn-default" name="button">Submit</button>
            </form>
        </div>
    </body>
</html>