<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> HomePage </title>
        <link rel="stylesheet" href="Basics.css">
    </head>
    <body>
        <h1 id="top">TOP</h1>
        <h1 id="middle">MIDDLE</h1>
        <h1 id="bottom">BOTTOM</h1>
<!--        <h1> Welcome To Free Blog Page! </h1>-->
<!--        <p> This Page Can Do Three Things </p>-->
<!--        <ol>-->
<!--            <li> Text Input </li>-->
<!--            <li> Login Imformation </li>-->
<!--            <li> Google Input</li>-->
<!--            <input name="" type="text" value="Submit">-->
<!--        </ol>-->
<!--        <p> Please Login And Save Your Blog Page </p>-->
<!--        <input name="email" type="text" placeholder="user@gamil.com">-->
<!--        <input name="password" type ="" placeholder="">-->
<!--        <input type="submit" name="" value="Submit">-->
<!--        <p> Please Send Me Feedback! </p>-->
<!--        <input name="" type="text" value="Submit">-->
    </body>
</html>
<!--        <h1> Welcome To Homepage</h1>-->
<!--        <div class = "First Category">-->
<!--            <p> Iam Inside The Category</p>-->
<!--        </div>-->
<!--        <div class = "Second Category">-->
<!--            <p> Let's <span>see the list</span> </p>-->
<!--        </div>-->
<!--        <ol>-->
<!--            <li> Item one:</li>-->
<!--            <li> Item two:</li>-->
<!--            <li> Item Three:</li>-->
<!--        </ol>-->
<!--        <ul>-->
<!--            <li> Confirm <input type="radio" name="" value=""></li>-->
<!--            <li> Feedback <input type="radio" name="" value=""> </li>-->
<!--            <li><a href="https://www.facebook.com/"> Facebook </a></li>-->
<!--        </ul>-->
<!--        <h2> Thankyou!</h2>-->
<!--    </body>-->
<!--</html>-->