<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <title> SignupPage </title>
    </head>

    <body>
        <h1> Welcome To SignUp Page!</h1>
        <p> Note: Please fillup all the fields given below.</p>
        <form action="thankyou.html" method="get">

            <label for="fn">Firstname:</label>
            <input id = "fn" type ="text" name="" placeholder="Firstname"required>

            <label for="ls">Lastname:</label>
            <input id = "ls" type="text" name="" placeholder="Lastname"required>

            <label for="em">Email:</label>
            <input id="em" type="email" name="" placeholder="user@gmail.com"required>

            <label for="p">Password:</label>
            <input id ="p" type="Password" name=""value=""required>

            <p> IF Your Age Is Above 18years ago </p>
            <label for ="y">Yes:</label>
            <input id ="y" name="over" type="radio" value="Yes">

            <label for ="n">No:</label>
            <input id="n" name="over" type="radio" value="No">

            <p> Do You Have a Card or Paypal </p>
            <select name="Payment">
                <option value="cc">CreditCard</option>
                <option value="pp">Paypal</option>
                <option value="dc">DebitCard</option>
            </select>
            <input type="submit"name=""value="Signup">
            <p></p>
        </form>
        <script src="basics.js"></script>
    </body>

</html>


            <!--        <form method="get">-->
<!--            <h2> Are You Coming From Inside or OUtside of USA! </h2>-->
<!--            <label for="inusa"> Insdie:</label>-->
<!--            <input id="inusa" type="radio" name="loc" value="">-->
<!--            <label for="outusa"> Outside:</label>-->
<!--            <input id ="outusa" type="radio" name="loc" value="">-->

<!--            <h3> How was the service? </h3>-->
<!--            <select name="stars">-->
<!--                <option value="Best">3</option>-->
<!--                <option value="Better">2</option>-->
<!--                <option value="good">1</option>-->
<!--            </select>-->
<!--            <input type="submit" name="" value="Submit">-->

<!--            <h3> Any Other Feedback Will Be There! </h3>-->
<!--            <textarea name="text" row ='10' col = '100' ></textarea>-->


<!--        </form>-->

<!--        <form>-->
<!--            <h1>Welcome To FormPage Please Login here! </h1>-->
<!--            <label for="usertext">Enter Input!</label>-->
<!--                <input id="email" name = "" value="" placehoder="Username">-->
<!--                <input id="password" name = "" value="" placeholder="Password">-->
<!--                <input id="submit" name="" value="Submit">-->
<!--        </form>-->
<!--        <form>-->
<!--            <h1> Clink On This Button! </h1>-->
<!--            <input type="color" name="color" value="">-->
<!--            <input type="text" name="" value="Text">-->
<!--        </form>-->
<!--        <table border="5">-->
<!--            <thead>-->
<!--                <th> COUNTRY NAME </th>-->
<!--                <th> COUNTRY FLAG </th>-->
<!--                <th> GDP(Millions of USD) </th>-->
<!--            </thead>-->
<!--            <tr>-->
<!--                <td> USA </td>-->
<!--                <td><img src= "https://www.united-states-flag.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/u/s/usa35vfc_-01_american-flag-3ft-x-5ft-cotton-best-brand-by-valley-forge.jpg" alt="Uh hoo! Iamge not found "></td>-->
<!--                <td> 18,564,789 </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> India </td>-->
<!--                <td><img src ="https://www.worldatlas.com/r/w728-h425-c728x425/upload/4e/94/92/shutterstock-133239521.jpg" alt="Uh Ohh! Image not found"></td>-->
<!--                <td> 2,581,456 </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> United Kingdom </td>-->
<!--                <td><img src="https://2.bp.blogspot.com/-P5qOt2KcR10/T0y7yn0sTWI/AAAAAAAADAg/7trepQzvN1M/s1600/1_National_Flag_of_United_Kingdom.gif" alt="Uh Ohh! Image not found"></td>-->
<!--                <td> 2,789,456 </td>-->
<!--            </tr>-->
<!--    <table border="5">-->
<!--        <thead>-->
<!--            <th> NUMBER </th>-->
<!--            <th> COLOUR </th>-->
<!--            <th> COUNTRY </th>-->
<!--        </thead>-->
<!--        <tr>-->
<!--            <td> 154 </td>-->
<!--            <td> Blue </td>-->
<!--            <td> India</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> 154 </td>-->
<!--            <td> Red </td>-->
<!--            <td> India </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> 154 </td>-->
<!--            <td> Yellow </td>-->
<!--            <td> India </td>-->
<!--
      </tr>-->
<!--    </table>     <h1> WELCOME TO MY WEBSITE! </h1>-->
<!--        <p> Iam learning python! </p>-->
<!--        <a href = "https://www.javatpoint.com/python-tutorial"> Click here for official python link! </a>-->
<!--        <img src="https://cuongquach.com/en/wp-content/uploads/2017/04/python-logo2.png" alt ="Here is the picture of python logo!">-->


<!--        <h2><b> Here are the three reasons of django will be cool are: </b></h2>-->
<!--        <ol>-->
<!--            <li> Fast </li>-->
<!--            <li> Secure and </li>-->
<!--            <li> Scalable </li>-->
<!--        </ol>-->

<!--        <p> Iam learning django framework! </p>-->
<!--        <a href = "https://www.javatpoint.com/django-tutorial"> Click here for official django link! </a>-->
<!--        <img src="https://static.djangoproject.com/img/logos/django-logo-negative.png" alt = "Here is the picture of django logo!">-->

<!--        <p> Iam excited to learn python django full stack devolpment </p>-->
<!--        <a href = "https://www.javatpoint.com/python-tutorial"> Click here for official python link! </a>-->
<!--        <img src ="pythondjangologo.jpg" alt = "Here is the picture of pythondjangologo!">-->
<!--    </body>-->

<!--</html>-->

<!--        <h1> ATTRIBUTES </h1>-->
<!--        <a href = "djangologo.jpg"> CLICK HERE! </a>-->
<!--        <img src="https://assets.wired.com/photos/w_1023/wp-content/uploads/2016/12/Instagram.jpg" alt = "Uh,Oh! Image not found">-->
<!--        <a href = "https://www.instagram.com/"> CLICK HERE! For Instagram</a>-->
<!--        <img src="user.jpg" alt="Uh, Ohh! You don't found image">-->
<!--    <h1> DIVS AND SPANS </h1>-->
<!--    <div class="container">-->
<!--        <h2> HELLO,HTML </h2>-->
<!--        <p> Iam Saikumar <span>belongs to</span>  AndhraPradesh! </p>-->
<!--    </div>-->
<!--    <h1> LISTS </h1>-->
<!--    <ol>-->
<!--        <li> First Element : 10 </li>-->
<!--        <li> Second Element : 20 </li>-->
<!--        <li> Third Element : 30 </li>-->
<!--    </ol>-->
<!--    <ul>-->
<!--        <li> Item one : Ten </li>-->
<!--        <li> Item two : Twenty </li>-->
<!--    </ul>-->

<!--    <ol>-->
<!--        <li> Key : Name </li>-->
<!--        <ul>-->
<!--            <li> Value : Saikumar </li>-->
<!--        </ul>-->
<!--            <li> This is nested ordered list! </li>-->            <!-- Ordered and unordered list-->
<!--    </ol>-->

<!--    <h1><b> WELCOME TO HTML WORLD! </b></h1>-->
<!--    <h2><strong> Hai </strong></h2>-->
<!--    <h3><i> HEllo Html World </i></h3>-->
<!--    <h8><em> Thank you </em></h8>-->
<!--    <h10> Bye! </h10>-->
<!--    <p><i> Iam Saikumar Belongs To Andhrapradesh. </i></p>-->
<!--    &lt;!&ndash; This is a comment in html &ndash;&gt;-->        <!--Heading,italian,emphasis,strong,bold,paragraph tags-->

<!--    </body>-->

<!--</html>-->