<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HomePage</title>
        <script src="basics.js"></script>
    </head>
    <body>
    <h1> Welcome To Javascript Page! </h1>
    <p>Our JavaScript Tutorial is designed for beginners and professionals both. JavaScript is used to create client-side dynamic pages. </p>
    <p>JavaScript is an object-based scripting language which is lightweight and cross-platform.</p>
    <p>JavaScript is not a compiled language, but it is a translated language. The JavaScript Translator (embedded in the browser) is responsible for translating the JavaScript code for the web browser.</p>
    <ul>
        <h2>Application of JavaScript</h2>
        <p>JavaScript is used to create interactive websites. It is mainly used for:</p>
        <li>Client-side validation,</li>
        <li>Dynamic drop-down menus,</li>
        <li>Displaying date and time,</li>
        <li>Displaying pop-up windows and dialog boxes (like an alert dialog box, confirm dialog box and prompt dialog box).</li>
        <img src="https://static.javatpoint.com/images/javascript/javascript_logo.png" alt="Image Not Found">
    </ul>
    </body>
</html>