<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> Navbar Page</title>
<!--        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!--        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">-->
    </head>

    <body>
    <nav class = 'navbar navbar-default navbar-static-top'>
        <div class = "container">
            <ul class nav navbar-nav>
                <li><a class ='navbar-LINK' href ="{% url 'index' %}"> DJANGOHOME </a></li>
                <li><a class = 'navbar-link' href="{% url 'admin:index'%}"> ADMIN </a></li>
                <li><a class = 'navbar-link' href="{% url 'BasicApp:register'%}"> REGISTER </a></li>

                {% if user.is_authenticated %}
                    <li><a class = 'navbar-link' href="{% url 'logout'%}"> LOGOUT </a> </li>
                {% else %}
                    <li><a class = 'navbar-link' href="{%url 'BasicApp:user_login'%}"> LOGIN </a> </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class = "container">
    {% block body_block %}
    {% endblock %}
    </div>
    </body>

</html>
