<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Landing Page</title>
        <link rel="stylesheet" href="project.css">
    </head>
    <body>
        <h1> Welcome To Landing Page! </h1>
        <h2> We're A Startup That Is Cool! </h2>
        <p>Our GDPR default settings make sure you’ll stay compliant. Create GDPR-friendly landing pages by adding pre-written permissions, checkboxes and EU-subscriber segmentation. Or, pick one of our GDPR-ready templates to make your life easier.</p>
        <p>Optimize your landing page for SEO and add the text and image that are shown when you share your landing page on social networks. Track performance by adding your Google Analytics and Facebook data, and you can add custom code in our header and page code fields.You create a landing page that rocks, and we’ll make sure it looks good on every device. Our responsive technology resizes your landing page automatically to fit on mobile, tablets and desktops.Our designers and copywriters teamed up to create a large gallery of professional and mobile-responsive templates for you to use. Check out the variety of templates—starting with a “coming soon” template and ending with the feedback survey landing pages.</p>
        <h2> Please Sign Up For Our Lauch! </h2>
        <form class="emailform" action="thankyou.html" method="get">
            <label for ="first"> Firstname: </label><br>
            <input name="first" type="text" value="" placeholder="Firstname"><br>
            <label for="last"> Lastname: </label><br>
            <input type="text" name="last" value="" placeholder="Lastname"><br>
            <label for="email"> Email:</label><br>
            <input type="email" name="email" placeholder="user@gmail.com"><br>

            <input id="sub" type="submit" name="" value="Sign Up!">

        </form>
    </body>
</html>